.nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    border: 2px;
    border-style: double;
    background-color: #333333;
    color: white;
}
.nav-links {
    list-style-type: none;
    display: inline-flex;
    align-content: flex-end;
    justify-content: space-around;
    width: 60%;
}
a{
    color:white;
    text-decoration: none;
}

.nav-title{
    display: inline-flex;
    justify-content:flex-start ;
    margin-left: 20px;
}
.btn{
    border-color: black;
    background-color:#17a2b8 ;
    color: white;
    box-shadow: 20px black;
    font-size: 15px;
}