.container{
    display: flex;
    border-style: double;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
    border-top: none;
}
.headbar{
    background-color: #17a2b8 ;
    width: 600px;
    height: 100px;
    border-style: double;
    border-bottom: none;
}
#usericon{
    position: absolute;
    border-radius: 50%;
    top: 9%;
    left: 3%;
}
.bodytext{
    padding: 20px;
}